@import 'customize-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

 
.scrollable{
    overflow-y: scroll;
}

.scrollableH{
    overflow-x: scroll;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}
.emailDatBg {
    background-color: #F6F6F6;
}

@media (max-width: 767px) {
    .device-big {
    display: none;
    }
    .device-small {
    display: block;
    }
}

@media only screen and (min-width : 768px) {
    .device-big, .tab-content > .tab-pane {
    display: block;
    }
    .device-small {
    display: none;
    }
    .tab-content > .tab-pane {
        display: block;
    }
}


