
<div class="card-body emailDatBg" *ngIf="emailData">
    <dl class="row" *ngIf="emailData">
        <dt class="col-sm-3">From:</dt>
        <dd class="col-sm-9">{{emailData.from | emailAddresses}}</dd>
        
        <dt class="col-sm-3">To:</dt>
        <dd class="col-sm-9">{{emailData.to | emailAddresses}}</dd>
        
        <dt class="col-sm-3">Subject:</dt>
        <dd class="col-sm-9">{{emailData.subject}}</dd>
        
        <dt class="col-sm-3">Date:</dt>
        <dd class="col-sm-9">{{emailData.date | date:'short'}}</dd>
    </dl>
    
</div>

<div class="card-body" *ngIf="emailData">
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="scrollableH" *ngIf="emailBody && !isLoading && emailBody.isHtml" [innerHTML]="emailBody.text | safeHtmlBody"></div>
    <div class="scrollableH" *ngIf="emailBody && !isLoading && !emailBody.isHtml" >
        {{emailBody.text}}
    </div>
</div>

<div class="card-body text-center mt-50" *ngIf="!emailData">
    <h5 class="card-title">Inbox</h5>
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
    </svg>
    <p class="card-text">Load and select a message!</p>
</div>



